<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Blogify</title>
</head>

<body>
    <%- include('./partials/nav') %>

    
    <div class="container">
            <h2 class="mt-3">Add Your Blog Here</h2>
            <form method="post" action="/blog" enctype="multipart/form-data" class="mt-5">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="title" class="form-control" id="title" name="title"aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="Content" class="form-label">Content</label>
                    <textarea class="form-control" id="body" name="body" style="height: 100px"></textarea>
                </div>
                <div class="mb-3">
                    <label for="coverImage" class="form-label">Cover Image</label>
                    <input type="file" class="form-control" id="coverImage" name="coverImage"aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <%- include('./partials/script') %>
</body>

</html>